.main-contacts__wrapper {
  display: grid;
  grid-gap: 48px;
  padding: 85px 25px 0 25px;

  @media (min-width: $mobile-width) {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media (min-width: $tablet-width) {
    max-width: 720px;
  }

  @media (min-width: $big-tablet-width) {
    grid-template-columns: 33.3333333% auto;
    grid-gap: 30px;
    max-width: calc(100% - 195px);
  }

  @media (min-width: 1360px) {
    max-width: 1140px;
  }
}
