.gallery {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #252525;
  z-index: 10;
  overflow-y: scroll;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  scrollbar-height: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
    background: transparent;
  }

  @media (min-width: 700px) {
    display: grid;
    align-items: center;
    background-color: rgba(0, 0, 0, .85);
  }
}
