@font-face {
  font-family: 'icons';
  src:
    url('../../assets/fonts/icon-font/icons.woff?8ul5ti') format('woff'),
    url('../../assets/fonts/icon-font/icons.ttf?8ul5ti') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-typescript:before {
  content: "\e906";
}
.icon-javascript:before {
  content: "\e90c";
}
.icon-bootstrap:before {
  content: "\e905";
}
.icon-react:before {
  content: "\e907";
}
.icon-webpack:before {
  content: "\e908";
}
.icon-check-square:before {
  content: "\e912";
}
.icon-paper-plane:before {
  content: "\e911";
}
.icon-external-link-alt:before {
  content: "\e910";
}
.icon-briefcase:before {
  content: "\e909";
}
.icon-graduation-cap:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-phone-square:before {
  content: "\e90f";
}
.icon-download:before {
  content: "\e90b";
}
.icon-sass:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e900";
}
.icon-about:before {
  content: "\e901";
}
.icon-portfolio:before {
  content: "\e902";
}
.icon-contacts:before {
  content: "\e903";
}
.icon-cog:before {
  content: "\e904";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-code:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}
.icon-codepen:before {
  content: "\eae8";
}
